/* Start Requirements */
.requirements {
  min-height: 100vh;
}
.requirements .container .title,
.requirements .container .required-conditions {
  margin: 40px;
  padding: 20px;
}
.required-conditions li {
  padding: 10px;
}
.requirements .accept {
  display: flex;
  justify-content: center;
}
.requirements .accept a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  background-color: var(--main-color);
  color: white;
  transition: var(--main-transition);
}
.requirements .accept a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
/* End Requirements */
